name: build_and_test

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  swiftlint:
    runs-on: self-hosted
    env:
      GH_PAT: ${{ secrets.GH_PAT }}
      GH_USER: ${{ secrets.GH_USER }}
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: SwiftLint
        env:
          DIFF_BASE: ${{ github.base_ref }}
        run: |
          git config --global credential.helper '!f() { echo "username=${GH_USER}"; echo "password=${GH_PAT}"; }; f'
          git fetch origin $DIFF_BASE
          changedFiles=$(git --no-pager diff --diff-filter=AMR --name-only --merge-base FETCH_HEAD -- '*.swift')
          [ -n "$changedFiles" ] && swift package plugin --allow-writing-to-package-directory swiftlint --config .swiftlint.yml $changedFiles | \
            sed -E "s/$(pwd|sed 's/\//\\\//g')\///" | \
            sed -E 's/^(.*):([0-9]+):([0-9]+): (warning|error|[^:]+): (.*)/::\4 file=\1,line=\2,col=\3::\5/'

  build_and_test_macos:
    runs-on: [self-hosted, macOS]
    env:
      GH_PAT: ${{ secrets.GH_PAT }}
      GH_USER: ${{ secrets.GH_USER }}
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false

      - name: build_and_test
        run: |
          git config --global credential.helper '!f() { echo "username=${GH_USER}"; echo "password=${GH_PAT}"; }; f'
          set -o pipefail && xcrun swift test | xcbeautify --renderer github-actions --is-ci

  build_and_test_linux:
    runs-on: [self-hosted, Linux]
    env:
      GH_PAT: ${{ secrets.GH_PAT }}
      GH_USER: ${{ secrets.GH_USER }}
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false

      - name: build_and_test
        run: |
          git config --global credential.helper '!f() { echo "username=${GH_USER}"; echo "password=${GH_PAT}"; }; f'
          swift test \
            --filter GekoAcceptanceTests \
            --filter GekoSupportTests \
            --filter GekoCoreIntegrationTests \
            --filter GekoCocoapodsTests \
            --filter GekoCoreTests \
            --filter GekoDependenciesTests \
            --filter GekoGraphTests \
            --filter GekoKitTests \
            --filter ProjectDescriptionTests \
            --filter PubGrubTests \
