name: build_and_test

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  swiftlint:
    runs-on: [self-hosted, macOS]
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: SwiftLint
        env:
          DIFF_BASE: ${{ github.base_ref }}
        run: |
          git fetch origin $DIFF_BASE
          brew install swiftlint
          base=$(git merge-base --fork-point @{upstream} FETCH_HEAD || git merge-base @{upstream} FETCH_HEAD)
          changedFiles=$(git --no-pager diff --diff-filter=AMR --name-only "$base"...HEAD -- '*.swift')
          swiftlint $changedFiles | \
            sed -E "s/$(pwd|sed 's/\//\\\//g')\///" | \
            sed -E 's/^(.*):([0-9]+):([0-9]+): (warning|error|[^:]+): (.*)/::\4 file=\1,line=\2,col=\3::\5/'

  build_and_test_macos:
    needs: swiftlint
    runs-on: [self-hosted, macOS]
    env:
      GH_PAT: ${{ secrets.GH_PAT }}
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false

      - name: build_and_test
        run: |
          git config --global credential.helper 'cache --timeout=3600'
          git config --global url."https://${GH_PAT}@github.com/".insteadOf "https://github.com/"
          set -o pipefail && xcrun swift test | xcbeautify --renderer github-actions --is-ci

  build_and_test_linux:
    needs: swiftlint
    runs-on: [self-hosted, Linux]
    env:
      GH_PAT: ${{ secrets.GH_PAT }}
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false

      - name: build_and_test
        run: |
          git config --global credential.helper 'cache --timeout=3600'
          git config --global url."https://${GH_PAT}@github.com/".insteadOf "https://github.com/"
          set -o pipefail && \
            swift test \
              --filter GekoAcceptanceTests \
              --filter GekoSupportTests \
              --filter GekoCoreIntegrationTests \
              --filter GekoCocoapodsTests \
              --filter GekoCoreTests \
              --filter GekoDependenciesTests \
              --filter GekoGraphTests \
              --filter GekoKitTests \
              --filter ProjectDescriptionTests \
              --filter PubGrubTests \
