name: release
on:
  workflow_dispatch:
    inputs:
      bump_type:
        description: 'Bump type'
        required: true
        default: 'patch'
        type: choice
        options:
          - major
          - minor
          - patch

jobs:
  build_for_all_platforms:
    name: Build
    strategy:
      fail-fast: false
      matrix:
        os: [macos-26, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    outputs:
      tag: ${{ steps.tag.outputs.tag }}
    env:
      COMMIT_SHA: ${{ github.sha }}
      GEKO_LINUX_AUTOUPDATE_SOURCE: ${{ vars.GEKO_LINUX_AUTOUPDATE_SOURCE }}
      GEKO_MACOS_AUTOUPDATE_SOURCE: ${{ vars.GEKO_MACOS_AUTOUPDATE_SOURCE }}
      BUMP_TYPE: ${{ github.event.inputs.bump_type }}
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Build
        id: build
        run: |
          export CI_COMMIT_SHORT_SHA=${COMMIT_SHA:0:8}
          scripts/linux/build.sh -n Geko -b ${BUMP_TYPE:-"minor"}
          echo "arch=$(uname -m)" >> $GITHUB_OUTPUT

      - name: Remember version
        id: tag
        run: echo "tag=Geko@$(cat version.txt)" >> $GITHUB_OUTPUT

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: geko_macos.zip
          path: build/geko_macos.zip
        if: matrix.os == 'macOS'

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: geko_linux_${{ steps.build.outputs.arch }}.tgz
          path: "build/geko_linux_${{ steps.build.outputs.arch }}.tgz"
        if: matrix.os == 'Linux'

  draft_release:
    name: Make GitHub Release
    needs: build_for_all_platforms
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    env:
      TAG: ${{ needs.build_for_all_platforms.outputs.tag }}
      COMMIT_SHA: ${{ github.sha }}
      BUMP_TYPE: ${{ github.event.inputs.bump_type }}
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: build_artifacts
          merge-multiple: true

      - name: Create draft release
        run: |
          export GH_TOKEN=${{ secrets.GITHUB_TOKEN }}
          gh release create $TAG -d --generate-notes --target $COMMIT_SHA build_artifacts/*

      - name: Bump version
        run: |
          NEW_VERSION=$(scripts/linux/new_version_number.sh -n Geko -b $BUMP_TYPE)
          branch="automation/bump_version_geko"
          git branch -D $branch || true
          git checkout -b $branch
          git add Sources/GekoSupport/Constants.swift
          if ! git commit -m "Update app version to $NEW_VERSION"; then
              echo "Nothing to commit. Sources/GekoSupport/Constants.swift has already correct version $NEW_VERSION"
              exit 0
          fi
          git push -u origin "$branch"
          export GH_TOKEN=${{ secrets.GITHUB_TOKEN }}
          gh pr create --fill
          # gh pr merge --auto --merge --delete-branch || echo "Automerge is disabled in private repos, manual merge needed"
